# Copia como .env — nunca subir al repositorio

MYSQL_ROOT_PASSWORD=Root_Vault_2077!
MYSQL_DATABASE=vault
MYSQL_USER=vaultuser
MYSQL_PASSWORD=Vault_DB_2077!

SECRET_KEY=vault-tec-backend-secret-change-me-32b
FLASK_SECRET_KEY=vault-tec-frontend-secret-change-me
